<article ng-controller="orderManageController" class="orderManage">
  <!-- 上部分 -->
  <form action="http://192.168.2.194:8080/lsSub/exp" method="POST" ng-enter="search()">
    <section class="parameter">
      <div class="row">
        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">下单时间</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="startDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.startDate" is-open="startDateOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open1()"></i>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">至</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="endDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.endDate" is-open="endDateOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open2()"></i>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">付款时间</label>
          <div class="col-md-8">
            <input type="text" class="form-control" name="finishPayStartDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.finishPayStartDate" is-open="finishPayStartDateOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open3()"></i>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">至</label>

          <div class="col-md-8">
            <input type="text" class="form-control" name="finishPayEndDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.finishPayEndDate" is-open="finishPayEndDateOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open4()"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单性质</label>
          <div class="col-md-8">
            <ui-select allow-clear ng-model="data.isOverseaOrder"  theme="bootstrap">
              <ui-select-match >{{$select.selected.stauts}}</ui-select-match>
              <ui-select-choices name="isOverseaOrder" repeat="item.status_id as item in zhuangtai1 | filter: $select.search" value="{{$select.selected.status_id}}">
                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单状态</label>
          <div class="col-md-8">
            <ui-select allow-clear ng-model="data.status"  theme="bootstrap">
              <ui-select-match>{{$select.selected.stauts}}</ui-select-match>
              <ui-select-choices repeat="item.status_id as item in zhuangtai2 | filter: $select.search" value="{{$select.selected.status_id}}">
                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单编号</label>

          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="data.subNumber" name="subNumber">
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单类型</label>
          <div class="col-md-8">
            <ui-select allow-clear ng-model="data.subType"  theme="bootstrap">
              <ui-select-match>{{$select.selected.stauts}}</ui-select-match>
              <ui-select-choices repeat="item.status_id as item in zhuangtai3 | filter: $select.search" name="subType" value="{{$select.selected.status_id}}">
                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">用户名</label>

          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="data.userName" name="userName">
          </div>
        </div>
      </div>

    </section>
    <div class="parameter-btn">
      <button type="button" class="btn btn-raised btn-primary" ng-click="search()">查询</button>
      <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置查询条件</button>
      <button type="submit" class="btn btn-raised btn-detault" >导出</button>
    </div>
  </form>
  <!-- 下部分 -->
  <section>
    <div class="table-responsive">
      <table class="table table-hover" float-thead="floatTheadOptions">
        <thead class="table-head">
        <tr class="active">
          <th>序号</th>
          <th>交易支付号</th>
          <th>商品订单号</th>
          <th>下单时间</th>
          <th>订单状态</th>
          <th>分销的用户名</th>
          <th>收货人姓名</th>
          <th>省份</th>
          <th>支付时间</th>
          <th>猫号</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="orderList in orderData.model">
          <td>{{$index+1}}</td>
          <td>{{orderList.subSettlementSn}}</td>
          <td>{{orderList.subNumber}}</td>
          <td>{{orderList.subDate}}</td>
          <td>{{orderList.status}}</td>
          <td>{{orderList.sellId}}</td>
          <td>{{orderList.receiver}}</td>
          <td>{{orderList.province}}</td>
          <td>{{orderList.payDate}}</td>
          <td>{{orderList.mallId}}</td>
          <td>
            <a href="javascript:;" class="text-primary" ng-click="orderListDetails(orderList)">查看详情</a>
          </td>

        </tr>
        </tbody>
      </table>
      <div ng-if="!orderData.model.length" class="noData">暂无数据</div>
    </div>
      <section style="margin:0 0 10px 5px;">本次查询结果共 <strong>{{orderData.query.total || 0}}</strong>个订单</section>
    <div class="row">
      <div class="col-md-9">
        <select class="page-size" ng-model="data.pageSize" ng-change="pageChanged()">
          <option value="20" ng-selected="true">每页显示20条</option>
          <option value="40">每页显示40条</option>
          <option value="60">每页显示60条</option>
          <option value="80">每页显示80条</option>
          <option value="100">每页显示100条</option>
        </select>
        <uib-pagination ng-change="pageChanged()" ng-model="data.pageNum" total-items="orderData.query.total"
                        max-size="maxSize" items-per-page="data.pageSize" class="pagination-sm" boundary-link-numbers="true"
                        rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
      </div>
      <div class="col-md-3 text-right">
        <span>跳转到</span>
        <input type="text" ng-model="toPageNum" class="variant-form-control">
        <button ng-click="setPage()" class="to-page-num">确定</button>
      </div>
    </div>
  </section>
</article>
<!--举报内容-->
<script type="text/ng-template" id="btReportDetails.html" class="modal-lg">
  <div class="panel  tk-box">
    <div class="panel-heading">
      <h4>举报内容</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="dialoguecontent in items" style="margin-bottom: 10px;"><img image-viewer
                                                                                                     src="{{dialoguecontent.Content}}"
                                                                                                     alt=""
                                                                                                     width="100%">
        </div>
      </div>
    </div>
    <div class="panel-heading" style="overflow:hidden;">
      <div class="pull-right">
        <button class="btn withripple btn-raised btn-primary" type="button" ng-click="close()">确认</button>
      </div>
    </div>
  </div>
</script>
