<article ng-controller="orderManageController" class="orderManage">
  <!-- 上部分 -->
  <form action="" method="POST" ng-enter="search()">
    <section class="parameter">
      <div class="row">
        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">下单时间</label>
          <div class="col-md-8">
            <input date-to-timestamp type="text" class="form-control" name="startDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.startDate" is-open="startMonthOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open1()"></i>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">至</label>
          <div class="col-md-8">
            <input date-to-timestamp type="text" class="form-control" name="endDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.endDate" is-open="endMonthOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open2()"></i>
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">付款时间</label>
          <div class="col-md-8">
            <input date-to-timestamp type="text" class="form-control" name="finishPayStartDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.finishPayStartDate" is-open="startMonthOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open1()"></i>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">至</label>

          <div class="col-md-8">
            <input date-to-timestamp type="text" class="form-control" name="finishPayEndDate"
                   uib-datepicker-popup="{{format}}" ng-model="data.finishPayEndDate" is-open="endMonthOpened.opened"
                   datepicker-options="dateOptions" show-button-bar="false">
            <i class="glyphicon glyphicon-calendar rili-icon" ng-click="open2()"></i>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单编号</label>

          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="data.subNumber" name="subNumber">
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-3 control-label">订单类型</label>

          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="data.subType" name="subType">
          </div>
        </div>

        <div class="form-group col-lg-3">
          <label class="col-md-2 control-label">买家</label>

          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="data.userName" name="userName">
          </div>
        </div>
      </div>

    </section>
    <div class="parameter-btn">
      <button type="button" class="btn btn-raised btn-primary" ng-click="search()">查询</button>
      <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置查询条件</button>
    </div>
  </form>
  <!-- 下部分 -->
  <section>
    <div class="table-responsive">
      <table class="table table-hover" float-thead="floatTheadOptions">
        <thead class="table-head">
        <tr class="active">
          <th>序号</th>
          <th>交易支付号</th>
          <th>商品订单号</th>
          <th>下单时间</th>
          <th>订单状态</th>
          <th>分销的用户名</th>
          <th>收货人姓名</th>
          <th>省份</th>
          <th>支付时间</th>
          <th>猫号</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ReportInfo in ReportInfoList.rows | orderBy:'reporttime':'desc'">
          <td>{{$index+1}}</td>
          <td>{{ReportInfo.reporttime*1000 | date :'yyyy-MM-dd HH:mm'}}</td>
          <td>{{ReportInfo.byreportuser}}</td>
          <td>{{ReportInfo.byreportname}}</td>
          <td>{{ReportInfo.byreportphone}}</td>
          <td>{{ReportInfo.reportuser}}</td>
          <td>{{ReportInfo.UserList.hm_u_nickname}}</td>
          <td style="max-width: 300px;white-space:normal !important;overflow: hidden;text-overflow: ellipsis;">
            {{ReportInfo.remark}}
          </td>
          <td>
            <a href="javascript:;" class="text-primary" ng-click="btReportDetails(ReportInfo)">查看</a>
          </td>
          <td>
            <a ng-click="updateReport(ReportInfo,1,true)" confirm="确定封号吗？" confirm-title="封号" confirm-ok="确定"
               confirm-cancel="取消" href="javascript:;" class="text-danger">封号</a>&nbsp;&nbsp;
            <a ng-click="updateReportForUntreated(ReportInfo)" confirm="确定不受理吗？" confirm-title="不受理" confirm-ok="确定"
               confirm-cancel="取消" href="javascript:;" class="text-primary">不受理</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div ng-if="!ReportInfoList.rows.length" class="noData">暂无数据</div>
    </div>
    <div cg-busy="ReportInfoPromise"></div>
    <div class="row">
      <div class="col-md-9">
        <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
          <option value="20" ng-selected="true">每页显示20条</option>
          <option value="40">每页显示40条</option>
          <option value="60">每页显示60条</option>
          <option value="80">每页显示80条</option>
          <option value="100">每页显示100条</option>
        </select>
        <uib-pagination ng-change="pageChanged()" ng-model="PageIndex" total-items="ReportInfoList.count"
                        max-size="maxSize" items-per-page="PageSize" class="pagination-sm" boundary-link-numbers="true"
                        rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
      </div>
      <div class="col-md-3 text-right">
        <span>跳转到</span>
        <input type="text" ng-model="toPageNum" class="variant-form-control">
        <button ng-click="setPage()" class="to-page-num">确定</button>
      </div>
    </div>
  </section>
</article>
<!--举报内容-->
<script type="text/ng-template" id="btReportDetails.html" class="modal-lg">
  <div class="panel  tk-box">
    <div class="panel-heading">
      <h4>举报内容</h4></div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3" ng-repeat="dialoguecontent in items" style="margin-bottom: 10px;"><img image-viewer
                                                                                                     src="{{dialoguecontent.Content}}"
                                                                                                     alt=""
                                                                                                     width="100%">
        </div>
      </div>
    </div>
    <div class="panel-heading" style="overflow:hidden;">
      <div class="pull-right">
        <button class="btn withripple btn-raised btn-primary" type="button" ng-click="close()">确认</button>
      </div>
    </div>
  </div>
</script>
