<article ng-controller="refundManageController" class="refundManage">
    <!-- 上部分 -->
    <form action="{{sce.exportUrl}}" method="POST" ng-enter="search()">
        <section class="parameter">
            <div class="row">
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-2 control-label">下单时间</label>
                    <div class="dropdown-toggle col-md-8" id="startDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="startDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="startDate" value="{{data.startDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="startDate">
                        <datetimepicker data-ng-model="startDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#startDate'}" data-on-set-time="OnSetTime('startDate')"></datetimepicker>
                    </ul>
                </div>
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-1 control-label">至</label>
                    <div class="dropdown-toggle col-md-8" id="endDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="endDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="endDate" value="{{data.endDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="endDate">
                        <datetimepicker data-ng-model="endDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#endDate'}" data-on-set-time="OnSetTime('endDate')"></datetimepicker>
                    </ul>
                </div>

                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-2 control-label">付款时间</label>
                    <div class="dropdown-toggle col-md-8" id="finishPayStartDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="finishPayStartDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="finishPayStartDate" value="{{data.finishPayStartDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="finishPayStartDate">
                        <datetimepicker data-ng-model="finishPayStartDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#finishPayStartDate'}" data-on-set-time="OnSetTime('finishPayStartDate')"></datetimepicker>
                    </ul>
                </div>
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-1 control-label">至</label>
                    <div class="dropdown-toggle col-md-8" id="finishPayEndDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="finishPayEndDate" name="finishPayEndDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="finishPayEndDate" value="{{data.finishPayEndDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="finishPayEndDate">
                        <datetimepicker data-ng-model="finishPayEndDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#finishPayEndDate'}" data-on-set-time="OnSetTime('finishPayEndDate')"></datetimepicker>
                    </ul>
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-md-2 control-label">售后状态</label>
                    <div class="col-md-8">
                        <ui-select allow-clear ng-model="data.status" name="status" theme="bootstrap">
                            <ui-select-match>{{$select.selected.stauts}}</ui-select-match>
                            <ui-select-choices repeat="item.status_id as item in zhuangtai1 | filter: $select.search"
                                               value="{{$select.selected.status_id}}">
                                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <input type="hidden" name="status" value="{{data.status}}"/>
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-md-2 control-label">售后类型</label>
                    <div class="col-md-8">
                        <ui-select allow-clear ng-model="data.returnType" name="returnType" theme="bootstrap">
                            <ui-select-match>{{$select.selected.stauts}}</ui-select-match>
                            <ui-select-choices repeat="item.status_id as item in zhuangtai2 | filter: $select.search"
                                               value="{{$select.selected.status_id}}">
                                <span ng-bind-html="item.stauts | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <input type="hidden" name="returnType" value="{{data.returnType}}"/>
                </div>
                <div class="form-group col-lg-3">
                    <label class="col-md-2 control-label">订单编号</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="data.subNumber" name="subNumber">
                    </div>
                </div>
            </div>
        </section>
        <div class="parameter-btn">
            <button type="button" class="btn btn-raised btn-primary" ng-click="search()">查询</button>
            <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置查询条件</button>
            <button type="submit" class="btn btn-raised btn-detault">导出</button>
        </div>
    </form>
    <!-- 下部分 -->
    <section>
        <div class="table-responsive">
            <table class="table table-hover" float-thead="floatTheadOptions">
                <thead class="table-head">
                <tr class="active">
                    <th>序号</th>
                    <th>支付时间</th>
                    <th>商品名称</th>
                    <th>商品单价</th>
                    <th>退货数量</th>
                    <th>退货原因</th>
                    <th>需退回的猫豆</th>
                    <th>售后类型</th>
                    <th>售后状态</th>
                    <th>下单时间</th>
                    <th>商品订单号</th>
                    <th>交易支付号</th>
                    <th>总金额</th>
                    <th>商家后台操作备注</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="refundList in refundData.model">
                    <td>{{$index+1}}</td>
                    <td>{{refundList.payDate}}</td>
                    <td>{{refundList.prodName}}</td>
                    <td>{{refundList.prodPrice}}</td>
                    <td>{{refundList.quantity}}</td>
                    <td>{{refundList.returnDescription}}</td>
                    <td>{{refundList.returnMallBean}}</td>
                    <td>{{refundList.returnType}}</td>
                    <td>{{refundList.status}}</td>
                    <td>{{refundList.subDate}}</td>
                    <td>{{refundList.subNumber}}</td>
                    <td>{{refundList.subSettlementSn}}</td>
                    <td>{{refundList.totalPrice}}</td>
                    <td>{{refundList.operatorRemark}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-if="!refundData.model.length" class="noData text-center">暂无数据</div>
        </div>
        <section style="margin:0 0 10px 5px;">本次查询共 <strong>{{refundData.query.total || 0}}</strong>个结果</section>
        <div class="row">
            <div class="col-md-9">
                <select class="page-size" ng-model="data.pageSize" ng-change="pageChanged()">
                    <option value="20" ng-selected="true">每页显示20条</option>
                    <option value="40">每页显示40条</option>
                    <option value="60">每页显示60条</option>
                    <option value="80">每页显示80条</option>
                    <option value="100">每页显示100条</option>
                </select>
                <uib-pagination ng-change="pageChanged()" ng-model="data.pageNum" total-items="refundData.query.total"
                                max-size="maxSize" items-per-page="data.pageSize" class="pagination-sm"
                                boundary-link-numbers="true"
                                rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
            </div>
            <div class="col-md-3 text-right">
                <span>跳转到</span>
                <input type="text" ng-model="toPageNum" class="variant-form-control">
                <button ng-click="setPage()" class="to-page-num">确定</button>
            </div>
        </div>
    </section>
</article>