<article ng-controller="salesStatisticsController" class="salesStatistics">
    <!-- 上部分 -->
    <form action="{{sce.exportUrl}}" method="POST" ng-enter="search()">
        <section class="parameter">
            <div class="row">
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-2 control-label">付款时间</label>
                    <div class="dropdown-toggle col-md-8" id="paystartDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="paystartDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="paystartDate" value="{{data.paystartDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="paystartDate">
                        <datetimepicker data-ng-model="paystartDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#paystartDate',startView:'day', minView:'day' }" data-on-set-time="OnSetTime('paystartDate')"></datetimepicker>
                    </ul>
                </div>
                <div class="dropdown form-group col-lg-3">
                    <label class="col-md-1 control-label">至</label>
                    <div class="dropdown-toggle col-md-8" id="payendDate" role="button" data-toggle="dropdown">
                        <div class="input-group date">
                            <input type="text" class="form-control" disabled ng-model="payendDate" name="payendDate"
                                   datetime-transform
                                   format="yyyy-MM-dd HH:mm">
                            <input type="hidden" name="payendDate" value="{{data.payendDate}}"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="payendDate">
                        <datetimepicker data-ng-model="payendDate"
                                        data-datetimepicker-config="{ dropdownSelector: '#payendDate',startView:'day', minView:'day'}" data-on-set-time="OnSetTime('payendDate')"></datetimepicker>
                    </ul>
                </div>
            </div>
        </section>
        <div class="parameter-btn">
            <button type="button" class="btn btn-raised btn-primary" ng-click="search()">查询</button>
            <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置查询条件</button>
            <button type="submit" class="btn btn-raised btn-detault">导出</button>
        </div>
    </form>
    <!-- 下部分 -->
    <section>
        <div class="table-responsive">
            <table class="table table-hover" float-thead="floatTheadOptions">
                <thead class="table-head">
                <tr class="active">
                    <th>序号</th>
                    <th>日期</th>
                    <th>客单价</th>
                    <th>商品数量</th>
                    <th>订单数</th>
                    <th>订单总额</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="salesList in salesData.model">
                    <td>{{$index+1}}</td>
                    <td>{{salesList.date}}</td>
                    <td>{{salesList.averagePrice}}</td>
                    <td>{{salesList.commoditySum}}</td>
                    <td>{{salesList.subSum}}</td>
                    <td>{{salesList.sumMoney}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-if="!salesData.model.length" class="noData text-center">暂无数据</div>
        </div>
        <section style="margin:0 0 10px 5px;">本次查询共 <strong>{{salesData.query.total || 0}}</strong>个结果</section>
        <div class="row">
            <div class="col-md-9">
                <select class="page-size" ng-model="data.pageSize" ng-change="pageChanged()">
                    <option value="20" ng-selected="true">每页显示20条</option>
                    <option value="40">每页显示40条</option>
                    <option value="60">每页显示60条</option>
                    <option value="80">每页显示80条</option>
                    <option value="100">每页显示100条</option>
                </select>
                <uib-pagination ng-change="pageChanged()" ng-model="data.pageNum" total-items="salesData.query.total"
                                max-size="maxSize" items-per-page="data.pageSize" class="pagination-sm"
                                boundary-link-numbers="true"
                                rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
            </div>
            <div class="col-md-3 text-right">
                <span>跳转到</span>
                <input type="text" ng-model="toPageNum" class="variant-form-control">
                <button ng-click="setPage()" class="to-page-num">确定</button>
            </div>
        </div>
    </section>
</article>
