<article ng-controller="EvaluationClerkController" class="container-fluid">
    <!-- 上部分 -->
    <section class="row">
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">姓名</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.real_name">
            </div>
        </div>
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">身份证号</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.id_card">
            </div>
        </div>
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">手机号</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.telephone">
            </div>
        </div>
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">考评点</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.el_name">
            </div>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-4 control-label">省份</label>
            <div class="col-md-8">
                <ui-select ng-model="data.pro_code" theme="bootstrap" on-select="initCity($item)">
                    <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.city_name}}</ui-select-match>
                    <ui-select-choices repeat="item.city_code as item in provinces | orderBy:'city_code' | filter: $select.search">
                        <span ng-bind-html="item.city_name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-4 control-label">城市</label>
            <div class="col-md-8">
                <ui-select ng-model="data.city_code" theme="bootstrap" ng-disabled="data.pro_code==undefined?true:false">
                    <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.city_name}}</ui-select-match>
                    <ui-select-choices repeat="item.city_code as item in cities | orderBy:'city_code' | filter: $select.search">
                        <span ng-bind-html="item.city_name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">院校</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="data.school_name">
            </div>
        </div>
        <div class="form-group col-md-2">
            <label class="col-md-4 control-label">项目</label>
            <div class="col-md-8">
                <ui-select ng-model="data.teacher_item" theme="bootstrap" name="ex_primaryitem">
                    <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.dw_itemname}}</ui-select-match>
                    <ui-select-choices repeat="item.dw_itemid as item in projects | filter: $select.search">
                        <span ng-bind-html="item.dw_itemname | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group col-lg-2">
            <label class="col-md-4 control-label">段位</label>
            <div class="col-md-8">
                <ui-select ng-model="data.teacher_level" theme="bootstrap" name="ex_level">
                    <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.es_leveldesc}}</ui-select-match>
                    <ui-select-choices repeat="item.es_level as item in levels | filter: $select.search">
                        <span ng-bind-html="item.es_leveldesc | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </section>
    <div class="button-first">
        <button type="button" class="btn btn-raised btn-primary" ng-click="query()">查询</button>
        <button type="button" class="btn btn-raised btn-default" ng-click="reset()">重置</button>
        <button type="button" class="btn btn-raised btn-primary ml20" ng-click="add()">新增</button>
    </div>
    <!-- 下部分 -->
    <section>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-head">
                    <tr class="active">
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>身份证号</th>
                        <th>手机号</th>
                        <th>项目</th>
                        <th>段位</th>
                        <th>所在省份</th>
                        <th>所在城市</th>
                        <th>院校</th>
                        <th>所在考评点</th>
                        <th>分成比例</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="EvaluationClerk in EvaluationClerks">
                        <td>{{($index+1)+(((PageIndex||1)-1)*PageSize)}}</td>
                        <td>{{EvaluationClerk.userInfo.real_name}}</td>
                        <td>
                            <span ng-if="EvaluationClerk.userInfo.sex==2">女</span>
                            <span ng-if="EvaluationClerk.userInfo.sex==1">男</span>
                            <span ng-if="EvaluationClerk.userInfo.sex==0">未知</span>
                        </td>
                        <td>{{EvaluationClerk.userInfo.id_card}}</td>
                        <td>{{EvaluationClerk.userInfo.telephone}}</td>
                        <td>{{EvaluationClerk.item.dw_itemname}}</td>
                        <td>{{EvaluationClerk.teacher_level==4?"四段":(EvaluationClerk.teacher_level==5?"五段":(EvaluationClerk.teacher_level==6?"六段":(EvaluationClerk.teacher_level==7?"七段":(EvaluationClerk.teacher_level==8?"八段":"九段"))))}}</td>
                        <td>{{EvaluationClerk.evaluationlocation.city_name | getStringByIndex:'|':0}}</td>
                        <td>{{EvaluationClerk.evaluationlocation.city_name | getStringByIndex:'|':1}}</td>
                        <td>{{EvaluationClerk.evaluationlocation.school.school_name}}</td>
                        <td>{{EvaluationClerk.evaluationlocation.el_name}}</td>
                        <td>{{EvaluationClerk.teacher_devidepercent}}<span ng-if="EvaluationClerk.teacher_devidepercent">%</span></td>
                        <td>
                            <a ng-click="update(EvaluationClerk)" class="pointer">编辑</a>
                            <a ng-click="remove(EvaluationClerk)" class="pointer" confirm="确定删除吗？" confirm-title="删除" confirm-ok="确定" confirm-cancel="取消">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div cg-busy="EvaluationClerkPromise"></div>
        <div class="row">
            <div class="col-md-9">
                <select class="page-size" ng-model="PageSize" ng-change="pageChanged()">
                    <option value="20" ng-selected="true">每页显示20条</option>
                    <option value="40">每页显示40条</option>
                    <option value="60">每页显示60条</option>
                    <option value="80">每页显示80条</option>
                    <option value="100">每页显示100条</option>
                </select>
                <uib-pagination ng-model="PageIndex" ng-change="pageChanged()" total-items="EvaluationClerkCount" max-size="maxSize" items-per-page="PageSize" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="上一页" next-text="下一页"></uib-pagination>
            </div>
            <div class="col-md-3 text-right">
                <span>跳转到</span>
                <input type="text" ng-model="toPageNum" class="variant-form-control">
                <button ng-click="setPage()" class="to-page-num">确定</button>
            </div>
        </div>
    </section>
</article>
<!--添加-->
<script type="text/ng-template" id="AddEvaluationClerk.html">
    <form name="EvaluationClerkAddForm">
        <div class="panel-body">
            <h4>新增考评员</h4>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required placeholder="" ng-model="data.userInfo.real_name" />
                            </div>
                            <label class="col-md-1 control-label">性别</label>
                            <div class="radio col-md-2">
                                <label>
                                    <input type="radio" name="realSex" required value="1" ng-model="data.userInfo.sex">男
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                            <div class="radio col-md-2">
                                <label>
                                    <input type="radio" name="realSex" required value="2" ng-model="data.userInfo.sex">女
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div image-uploader src="data.userInfo.headimage_url" label="头像" placeholder="请选择图片"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">身份证号</label>
                            <div class="col-md-10">
                                <input type="text" name="idCard" class="form-control" required ng-model="data.userInfo.id_card" ng-pattern="PATTERN_CONFIG.IDCARD" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.idCard.$error.pattern">
                                请输入正确的身份证号
                            </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">手机号</label>
                            <div class="col-md-10">
                                <input type="text" name="telephone" class="form-control" required ng-model="data.userInfo.telephone" ng-pattern="PATTERN_CONFIG.TEL" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.telephone.$error.pattern">
                                请输入正确的手机号码
                            </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">电子邮箱</label>
                            <div class="col-md-10">
                                <input type="email" name="email" class="form-control" required ng-model="data.userInfo.email" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.email.$error.email">
                                请输入正确的邮箱地址
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">银行卡号</label>
                            <div class="col-md-10">
                                <input type="text" min="0" step="1" class="form-control" ng-model="data.teacherInfo.teacher_bankcard" />
                            </div>
                        </div>
                    </div>
                </div>
                <div evaluation-point-selector provinceandcity="data.userInfo.proviencecity_name" province="data.userInfo.pro_code" city="data.userInfo.city_code" schooltype="data.userInfo.school_type" school="data.userInfo.school_code" point="data.teacherInfo.el_id"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-2 control-label">项目</label>
                        <div class="col-md-9">
                            <ui-select ng-model="data.teacherInfo.teacher_item" theme="bootstrap" name="ex_primaryitem">
                                <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.dw_itemname}}</ui-select-match>
                                <ui-select-choices repeat="item.dw_itemid as item in projects | filter: $select.search">
                                    <span ng-bind-html="item.dw_itemname | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-2 control-label">段位</label>
                        <div class="col-md-9">
                            <ui-select ng-model="data.teacherInfo.teacher_level" theme="bootstrap" name="ex_level">
                                <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.es_leveldesc}}</ui-select-match>
                                <ui-select-choices repeat="item.es_level as item in levels | filter: $select.search">
                                    <span ng-bind-html="item.es_leveldesc | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label">考评地址</label>
                            <div class="col-md-8">
                                <input type="text" name="address1" class="form-control" minlength="10" maxlength="50" required ng-model="data.addressInfo[0].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.address1.$error.minlength || EvaluationClerkAddForm.address1.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="0" ng-model="data.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address2" class="form-control" minlength="10" maxlength="50" ng-model="data.addressInfo[1].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.address2.$error.minlength || EvaluationClerkAddForm.address2.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="1" ng-model="data.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address3" class="form-control" minlength="10" maxlength="50" ng-model="data.addressInfo[2].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.address3.$error.minlength || EvaluationClerkAddForm.address3.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="2" ng-model="data.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address4" class="form-control" minlength="10" maxlength="50" ng-model="data.addressInfo[3].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.address4.$error.minlength || EvaluationClerkAddForm.address4.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="3" ng-model="data.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address5" class="form-control" minlength="10" maxlength="50" ng-model="data.addressInfo[4].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkAddForm.address5.$error.minlength || EvaluationClerkAddForm.address5.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="4" ng-model="data.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">分成比例</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="number" step="any" min="0" max="100" class="form-control" required ng-model="data.teacherInfo.teacher_devidepercent" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">考评员编号</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" required ng-model="data.teacherInfo.evaluator_number" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">指导员编号</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" required ng-model="data.teacherInfo.teacher_number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">发证日期</label>
                            <div class="col-md-10">
                                <input type="text" required name="issue_date" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="data.teacherInfo.issue_date" is-open="BegintimeOpened.opened" datepicker-options="beginDatepickerOptions" show-button-bar="false" date-to-timestamp ng-change="updateEndDate()">
                                <i class="glyphicon glyphicon-calendar rili-icon" ng-click="openBegintime()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">有效期</label>
                            <div class="col-md-10">
                                <input type="text" required name="valid_date" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="data.teacherInfo.valid_date" is-open="EndtimeOpened.opened" datepicker-options="endDatepickerOptions" show-button-bar="false" date-to-timestamp ng-change="updateBeginDate()">
                                <i class="glyphicon glyphicon-calendar rili-icon" ng-click="openEndtime()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <span class="text-danger pull-left" ng-bind="error"></span>
            <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()" ng-disabled="!EvaluationClerkAddForm.$valid">添加</button>
            <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">关闭</button>
        </div>
    </form>
</script>
<!--修改-->
<script type="text/ng-template" id="UpdateEvaluationClerk.html">
    <form name="EvaluationClerkUpdateForm">
        <div class="panel-body">
            <h4>修改考评员</h4>
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" required ng-model="EvaluationClerk.userInfo.real_name" ng-disabled="true" />
                                <input type="hidden" class="form-control" required placeholder="" ng-model="EvaluationClerk.userInfo.headimage_url" />
                            </div>
                            <label class="col-md-1 control-label">性别</label>
                            <div class="radio col-md-2">
                                <label>
                                    <input type="radio" name="realSex" required value="1" ng-model="EvaluationClerk.userInfo.sex">男
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                            <div class="radio col-md-2">
                                <label>
                                    <input type="radio" name="realSex" required value="2" ng-model="EvaluationClerk.userInfo.sex">女
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div image-uploader src="EvaluationClerk.userInfo.headimage_url" label="头像"  placeholder="请选择图片"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">身份证号</label>
                            <div class="col-md-10">
                                <input type="text" name="idCard" class="form-control" required disabled ng-model="EvaluationClerk.userInfo.id_card" ng-pattern="PATTERN_CONFIG.IDCARD" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.idCard.$error.pattern">
                                请输入正确的身份证号
                            </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">手机号</label>
                            <div class="col-md-10">
                                <input type="text" name="telephone" class="form-control" required ng-model="EvaluationClerk.userInfo.telephone" ng-pattern="PATTERN_CONFIG.TEL" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.telephone.$error.pattern">
                                请输入正确的手机号码
                            </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">电子邮箱</label>
                            <div class="col-md-10">
                                <input type="email" name="email" class="form-control" required ng-model="EvaluationClerk.userInfo.email" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.email.$error.email">
                                请输入正确的邮箱地址
                            </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">银行卡号</label>
                            <div class="col-md-10">
                                <input type="text" min="0" step="1" class="form-control" disabled ng-model="EvaluationClerk.teacherInfo.teacher_bankcard" />
                            </div>
                        </div>
                    </div>
                </div>
                <div evaluation-point-selector provinceandcity="EvaluationClerk.userInfo.proviencecity_name" province="EvaluationClerk.userInfo.pro_code" city="EvaluationClerk.userInfo.city_code" schooltype="EvaluationClerk.userInfo.school_type" school="EvaluationClerk.userInfo.school_code" point="EvaluationClerk.teacherInfo.el_id"></div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-md-2 control-label">项目</label>
                        <div class="col-md-9">
                            <ui-select ng-model="EvaluationClerk.teacher_item" theme="bootstrap" name="ex_primaryitem">
                                <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.dw_itemname}}</ui-select-match>
                                <ui-select-choices repeat="item.dw_itemid as item in projects | filter: $select.search">
                                    <span ng-bind-html="item.dw_itemname | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-2 control-label">段位</label>
                        <div class="col-md-9">
                            <ui-select ng-model="EvaluationClerk.teacher_level" theme="bootstrap" name="ex_level">
                                <ui-select-match allow-clear="true" placeholder="全部">{{$select.selected.es_leveldesc}}</ui-select-match>
                                <ui-select-choices repeat="item.es_level as item in levels | filter: $select.search">
                                    <span ng-bind-html="item.es_leveldesc | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label">考评地址</label>
                            <div class="col-md-8">
                                <input type="text" name="address1" class="form-control" minlength="10" maxlength="50" required ng-model="EvaluationClerk.evaluatoraddresses[0].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.address1.$error.minlength || EvaluationClerkUpdateForm.address1.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="0" ng-model="EvaluationClerk.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address2" class="form-control" minlength="10" maxlength="50" ng-model="EvaluationClerk.evaluatoraddresses[1].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.address2.$error.minlength || EvaluationClerkUpdateForm.address2.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="1" ng-model="EvaluationClerk.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address3" class="form-control" minlength="10" maxlength="50" ng-model="EvaluationClerk.evaluatoraddresses[2].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.address3.$error.minlength || EvaluationClerkUpdateForm.address3.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="2" ng-model="EvaluationClerk.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address4" class="form-control" minlength="10" maxlength="50" ng-model="EvaluationClerk.evaluatoraddresses[3].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.address4.$error.minlength || EvaluationClerkUpdateForm.address4.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="3" ng-model="EvaluationClerk.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label"></label>
                            <div class="col-md-8">
                                <input type="text" name="address5" class="form-control" minlength="10" maxlength="50" ng-model="EvaluationClerk.evaluatoraddresses[4].Address" />
                                <small class="text-danger" ng-show="EvaluationClerkUpdateForm.address5.$error.minlength || EvaluationClerkUpdateForm.address5.$error.maxlength">
                                    请输入10到50字符
                                </small>
                            </div>
                            <div class="col-md-3 radio">
                                <label>
                                    <input type="radio" name="reaAddress" class="btnadds" ng-value="4" ng-model="EvaluationClerk.defaultAddressIndex" required>设为默认地址
                                    <span class="circle"></span>
                                    <span class="check"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">分成比例</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="number" step="any" min="0" max="100" class="form-control" required ng-model="EvaluationClerk.teacherInfo.teacher_devidepercent" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">考评员编号</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" required ng-model="EvaluationClerk.teacherInfo.evaluator_number" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">指导员编号</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" required ng-model="EvaluationClerk.teacherInfo.teacher_number" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">发证日期</label>
                            <div class="col-md-10">
                                <input type="text" required name="issue_date" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="issue_date" is-open="BegintimeOpened.opened" datepicker-options="beginDatepickerOptions" show-button-bar="false" ng-change="updateEndDate()">
                                <i class="glyphicon glyphicon-calendar rili-icon" ng-click="openBegintime()"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-2 control-label">有效期</label>
                            <div class="col-md-10">
                                <input type="text" required name="valid_date" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="valid_date" is-open="EndtimeOpened.opened" datepicker-options="endDatepickerOptions" show-button-bar="false" ng-change="updateBeginDate()">
                                <i class="glyphicon glyphicon-calendar rili-icon" ng-click="openEndtime()"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="modal-footer">
            <span class="text-danger pull-left" ng-bind="error"></span>
            <button class="btn withripple btn-raised btn-primary" type="button" ng-click="save()" ng-disabled="!EvaluationClerkUpdateForm.$valid">修改</button>
            <button class="btn withripple btn-raised btn-warning" type="button" ng-click="close()">关闭</button>
        </div>
    </form>
</script>
