<ul class="nav nav-list side-nav panel panel-default" active-link ng-controller="SideNavController">
    <li class="side-brand">
        <a href="#/">
            <div><i class="iconfont icon-shouhou side-nav-top-icon" aria-hidden="true"></i></div>
            <div class="side-title">电商售后管理系统</div>
        </a>
    </li>
    <li hide-parent="ul">
        <label class="top-tree tree-toggle withripple" toggle-menu><i class="fa fa-users" aria-hidden="true"></i>报表管理<i aria-hidden="true" class="fa fa-angle-right pull-right"></i></label>
        <ul class="nav nav-list tree">
            <li><a class="withripple third-tree" ng-href="#/reportManage/orderManage"><i class="fa fa-circle" aria-hidden="true"></i>订单管理</a></li>
            <li><a class="withripple third-tree" ng-href="#/reportManage/userManage"><i class="fa fa-circle" aria-hidden="true"></i>用户管理</a></li>
            <li><a class="withripple third-tree" ng-href="#/reportManage/refundManage"><i class="fa fa-circle" aria-hidden="true"></i>退货退款</a></li>
            <li><a class="withripple third-tree" ng-href="#/reportManage/userManage"><i class="fa fa-circle" aria-hidden="true"></i>销售统计</a></li>
        </ul>
    </li>

</ul>
